<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>
    <div class="ui celled grid">
        {% for i in data %}
        <div class="row">
          <div class="three wide column">
            <img src="http://www.agriculture.gov.au{{data[i]['image_url']}}" alt="">
          </div>
          <div class="thirteen wide column">
              <h1>Name : {{ data[i]["name"] }} </h1>
              <h4>Origin : {{ data[i]["origin"] }}</h4>
              <p><h4>Secure any suspect specimens</h4>
                {{data[i]["Secure any suspect specimens"]}}
            </p>
            <p>
                <h4>See if you can identify the pest</h4>
                {{ data[i]["See if you can identify the pest"] }}
            </p>
          </div>
        </div>
        {% endfor %}
              
        
      </div>
</body>
</html>